<div class="container contenido-principal">
    <main>
        <br>
        <h1>Nuestra Historia</h1>
        <div>
            <p class="historia">Desde su nacimiento en Silicon Valley, en 1969, el legado de AMD comenzó a construirse con docenas 
                de empleados dedicados a la fabricación de productos innovadores a base de semiconductores. Desde 
                esos modestos comienzos, AMD ha crecido hasta convertirse en una empresa internacional que cosechó 
                numerosas innovaciones importantes para la industria a lo largo del camino. Hoy, AMD desarrolla
                 productos de procesamiento y visualización de alto rendimiento para hacer frente a algunos de los 
                 desafíos más difíciles e interesantes del mundo.</p>
            <br>
            <div class="grid-misi-visi">
                <div class="text-misi-visi">
                    <h3>Visión</h3>
                    <p>La computación de alto rendimiento está cambiando nuestras vidas.</p>
                </div>
                <div class="text-misi-visi">
                    <h3>Misión</h3>
                    <p>Fabricar grandes productos que agilizan las experiencias informáticas de la nueva generación.</p>
                </div>
                
            </div>
            
            
            <hr>

            <h3>Nuestros objetivos </h3>
            <p>Hemos establecido objetivos públicos para generar grandes avances en nuestras iniciativas de RC. Nuestros objetivos incluyen los siguientes:</p>
            <br>
            <div class="grid">
                <div class="text-objetivos">
                    <h4>100 millones</h4>
                    <p>las personas se beneficiarán de la filantropía y las alianzas de AMD, que posibilitan la educación en ciencia, 
                        tecnología, ingeniería y matemáticas (STEM), las investigaciones científicas y la fuerza laboral del futuro 
                        (de 2020 a 2025)</p>
                </div>

                <div class="text-objetivos">
                    <h4>30 veces</h4>
                    <p>de aumento en la eficiencia energética de los procesadores y los aceleradores de AMD que están instalados en 
                        servidores dedicados al entrenamiento de la inteligencia artificial y a la computación de alto rendimiento 
                        (de 2020 a 2025)</p>
                </div>

                <div class="text-objetivos">
                    <h4>50%</h4>
                    <p>de reducción absoluta de emisiones de gases de efecto invernadero en las operaciones de AMD (Alcances 1 y 2) 
                        para 2030 (año base 2020)</p>
                </div>

                <div class="text-objetivos">
                    <h4>100%</h4>
                    <p>de los proveedores industriales de AMD se comprometerán públicamente a reducir las emisiones de gases de 
                        efecto invernadero (de 2020 a 2025)</p>
                </div>

                <div class="text-objetivos">
                    <h4>80%</h4>
                    <p>de los proveedores industriales de AMD utilizarán fuentes de energía renovable (de 2020 a 2025)</p>
                </div>

                <div class="text-objetivos">
                    <h4>100%</h4>
                    <p>de los fabricantes de AMD se someterán a una auditoría de la Asociación de Empresas Responsables 
                        (RBA) o equivalente (de 2020 a 2025)</p>
                </div>

                <div class="text-objetivos">
                    <h4>80%</h4>
                    <p>de los proveedores industriales de AMD, por gasto, participarán en una actividad de desarrollo de 
                        capacidades (de 2020 a 2025)</p>
                </div>

                <div class="text-objetivos">
                    <h4>70%</h4>
                    <p>de nuestros empleados participan en los grupos de recursos para empleados u otras iniciativas de 
                        inclusión de AMD (de 2020 a 2025)</p>
                </div>
            </div>
        </div>
    </main>
</div>

