<br>
<div class="container">
    <div class="row">
        <h2 class="font-weight-bold">Nuestros Productos</h2>
        
        <div class="col-sm">
            <div >
                <img class="img-fluid" src="assets/img/ryzen9_5900x.jpg" alt="procesadores">
            </div>

            <div>
                <h4>Procesadores</h4>
                <p>Rendimiento revolucionario con hasta 16 núcleos y 32 subprocesos, relojes turbo que alcanzan
                    4,9 GHz y hasta 72 MB de caché.</p>

            </div>
        </div>

        <div class="col-sm">
            <div >
                <img class="img-fluid" src="../../../assets/img/rx_6000.jpg" alt="procesadores">
            </div>

            <div>
                <h4>Graficas</h4>
                <p>Las tarjetas gráficas AMD Radeon™ RX les dan a los jugadores partidas increíbles y un
                    rendimiento asombroso en los títulos de esports, RV o AAA más nuevos.</p>

            </div>
        </div>

        <div class="col-sm">
            <div >
                <img class="img-fluid" src="../../../assets/img/amd_instinct_acelerador.jpg" alt="procesadores">
            </div>

            <div>
                <h4>Aceleradores</h4>
                <p>Los aceleradores AMD Instinct™ son capaces de acelerar las cargas de trabajo de HPC e IA para
                    impulsar nuevos descubrimientos.</p>

            </div>
        </div>
        
    </div>
    

    
</div> 
